<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title | default('Valkiry') }}</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap-disabled.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/font-awesome.min.css">
    {% block css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{{ base_url() }}/assets/js/jquery.min.js"></script>
    <script src="{{ base_url() }}/assets/js/popper.min.js"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $(function () {
            $('.disabled').click(function () {
                return false;
            });
        });
    </script>
    {% block js %}{% endblock %}
</body>
</html>