{% macro poolsList(pools) %}
  {% if pools is empty %}
    <div class="text-center display-4 m-3">Aucune période de questions à afficher</div>
  {% else %}
    <table class="table">
      <thead class="thead-light">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Date de début question</th>
          <th scope="col">Date de fin question</th>
          <th scope="col">Date de début réponse</th>
          <th scope="col">Date de fin réponse</th>
          <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
        {% for pool in pools %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ pool.period_start | date("d/m/Y") }}</td>
            <td>{{ pool.period_end | date("d/m/Y") }}</td>
            <td>{{ pool.period_end | date("d/m/Y") }}</td>
            <td>{{ pool['reponse'] | date("d/m/Y") }}</td>
            <td class="mr-auto">
                        <a href="#" title="Modifier" data-action="periode-edit"
                           data-id="{{ pool.id }}"
                           data-startdate="{{ pool.period_start | date("d/m/Y")}}"
                           data-enddate="{{ pool.period_end | date("d/m/Y") }}"
                           data-startdateR="{{ pool.period_end | date("d/m/Y") }}"
                           data-enddateR="{{ pool['reponse'] | date("d/m/Y") }}"
                        >
                        <i class="far fa-edit"></i>
                        </a>
                        <a href="#" title="Supprimer" data-action="periode-abort" data-target="{{ pool.id }}"
                         class="text-danger mx-1"><i class="fas fa-ban"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>    
  {% endif %}
{% endmacro %}
