{% extends '_layouts/main.twig' %}
{% import 'macros/promotion.twig' as promotionMacro %}
{% import 'macros/answer.twig' as answerMacro %}

{% block css %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap-extends-navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}

{% if date(pool.period_end) < date() %}
    {% set remaining = poolExpiration|time_diff|replace({'in': '', 'hour': 'heure', 'day': 'jour', 'months': 'mois', 'month': 'mois'}) %}
    {% set navbar_right = '<span class="text-danger font-weight-bold">Temps restant pour répondre: ' ~ remaining ~ '</span>' %}
{% else %}
    {% set navbar_right = '<span class="text-secondary">Période de questions</span>' %}
    {% set questions_period = true %}
{% endif %}

{% block content %}
    {% if flash.success %}
        <div class="alert alert-success fixed-top" role="alert">
            {{ flash.success | raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if flash.error %}
        <div class="alert alert-danger fixed-top" role="alert">
            {{ flash.error | raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if ( get["promotion_id"] ) is defined %}
        {# partie lié à la promotion #}
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path_for('home') }}"><img src="{{ base_url() }}/assets/img/logo.png" alt="Valkiry Logo" class="mb-4" width="64"
                    height="36"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="{{ path_for('home') }}?promotion_id={{ get["promotion_id"] }}" class="btn">Questions</a></li>
                        <li class="nav-item"><a href="{{ path_for('pools') }}" class="btn">Réponses</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                                Mon compte
                            </a>
                            <ul class="dropdown-menu text-center">
                                <li><a href="{{path_for('account')}}" class="btn mb-2">Mes informations</a></li>
                                <li><a href="{{ path_for('license') }}" class="btn mb-2">Ma licence</a></li>
                                <li><a href="{{ path_for('employees') }}" class="btn mb-2">Gestion des étudiants<!--employés--></a></li>
                                <li><a href="{{ path_for('disconnect') }}" class="btn btn-danger">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        {{ navbar_right | raw }}
                    </span>
                </div>
            </div>
        </nav>

        <div class="container">
        {% if date(pool.period_end) >= date() %}
            <p>Période du {{ pool.period_start | date("d/m/Y") }} au {{ pool.period_end | date("d/m/Y") }} :</p>
        {% else %}
            <p>Période du {{ pool.period_end | date("d/m/Y") }} au {{ poolExpiration | date("d/m/Y") }} :</p>
        {% endif %}
        <div class="container">
            {% if questions is empty %}
            <div class="jumbotron">
                <h3 class="text-center">Pas de question à afficher</h3>
            </div>
            {% else %}
                {% for question in questions %}
                    <div class="jumbotron">
                        <p class="text-center">Sujet : {{ question.subject }}</p>
                        <p>Question : {{ question.question }}</p>
                        <hr>
                        <p class="font-weight-bold">Nombre de votes : {{ question.votes }}</p>
                        {% if answers[question.id] is empty %}
                          <button type="button" class="btn btn-primary float-sm-right{% if questions_period %} disabled{% endif %}" data-toggle="modal"
                                  data-target="#answeringModal" data-id="{{question.id}}">Répondre
                          </button>
                        {% else %}
                          <button class="btn btn-outline-primary float-sm-right" data-action="showAnswer" data-target="{{ question.id }}">Voir la réponse</button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
       
    </div>
        

    {% else %}

    {% include('company_manager/partials/navbar_V2.twig') %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-dblue btn-lg" role="button" data-toggle="modal" data-target="#exampleModal">
                    <span class="glyphicon glyphicon-plus green"></span></br>Ajouter</br>une promotion</a>
                </button>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-12">
                {# Liste des promotions #}
                {{promotionMacro.promoList(promotions)}}
            </div>
        </div> 
    </div>

    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouvelle promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{path_for("addPromotion")}}">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Promotion:</label>
                        <input type="text" id="promotion_name" name="promotion_name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Confirmer</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="answeringModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Répondre à la question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{path_for("answerQuestion")}}">
                <div class="modal-body">
                        <div class="form-group">
                            <label for="responseTextArea" class="sr-only">Réponse</label>
                            <textarea class="form-control" id="responseTextArea" rows="5" name="inputAnswerText"></textarea>
                            <input type="text" name="inputQuestionId" value="" hidden="hidden">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Répondre</button>
                </div>
              </form>
            </div>
        </div>
    </div>

    {% for answer in answers %}
        {{ answerMacro.answer_modal_cm(answer) }}
    {% endfor %}

{% endblock %}

{% block js %}
  <script>
    (function(){
      var modalBodyContent;
      $('#answeringModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var modal = $(this);
        modal.find('.modal-body input[name="inputQuestionId"]').attr("value", id);
      });

      $('[data-action=showAnswer]').click(function() {
          var id = $(this).attr('data-target');
          var modal = $('.answerModal#' + id);

          modal.modal();
      });

      var eventModify = function(){
          var questionId = $(this).attr('data-target');
          var modal = $('.answerModal#' + questionId);
          var modalContent = modal.find(".modal-content");
          modalBodyContent = modal.find(".modal-body").text().trim();
          modalContent.html("<div class=\"modal-header\">\
              <h5 class=\"modal-title\" id=\"exampleModalLongTitle\">Répondre à la question</h5>\
              <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\
                  <span aria-hidden=\"true\">&times;</span>\
              </button>\
          </div>\
          <form method=\"POST\" action=\"{{path_for('modifyAnswer')}}\">\
          <div class=\"modal-body\">\
                  <div class=\"form-group\">\
                      <label for=\"responseTextArea\" class=\"sr-only\">Réponse</label>\
                      <textarea class=\"form-control\" id=\"responseTextArea\" rows=\"5\" name=\"inputAnswerText\">" + modalBodyContent + "</textarea>\
                      <input type=\"text\" name=\"inputQuestionId\" value=\"\" hidden=\"hidden\">\
                  </div>\
          </div>\
          <div class=\"modal-footer\">\
              <button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">Fermer</button>\
              <button type=\"button\" class=\"btn btn-danger\" data-action=\"cancelModify\">Annuler</button>\
              <button id=\"answerButton\" type=\"submit\" class=\"btn btn-primary\">Modifier</button>\
          </div>\
        </form>");
        modal.find('.modal-body input[name="inputQuestionId"]').attr("value", questionId);
        $('[data-action=cancelModify]').click(function(){
          var questionId = $(this).attr('data-target');
          var modal = $('.answerModal#' + questionId);
          var form = modal.find("form");
          var cnt = form.contents();
          form.replaceWith(cnt);
          var modalBody = modal.find(".modal-body");
          modalBody.html(modalBodyContent);
          var buttonCancel = modal.find('.btn-danger');
          $("#answerButton").remove();
          modal.find(".modal-footer").prepend($("<button type=\"button\" class=\"btn btn-primary\" data-action=\"modifyAnswer\" data-target=" + questionId + ">Modifier</button>"));
          var buttonForward = $("<button type=\"button\" class=\"btn btn-success\" data-action=\"forwardAnswer\" data-target=" + questionId + ">Transférer</button>");
          modal.find(".modal-footer").prepend(buttonForward);
          buttonForward.click(eventForward);
          $('[data-action=modifyAnswer]').click(eventModify);
          buttonCancel.remove();
        });
        var buttonCancel = modal.find('.btn-danger');
        buttonCancel.attr('data-target', questionId);
      }

      $('[data-action=modifyAnswer]').click(eventModify);

      var eventForward = function(){
        var questionId = $(this).attr('data-target');
        var modal = $('.answerModal#' + questionId);
        modal.find(".modal-footer").prepend($("<form id=\"mailForm\" action=\"\"><input type=\"email\" name=\"\" class=\"form-control mb-3\"><button type=\"submit\" class=\"btn btn-info\">Transférer à ce mail</button></form>"));
        $(this).remove();
        $("#mailForm").submit(function(event){
          event.preventDefault();
          var modal = $('.answerModal#' + questionId);
          modalBodyContent = modal.find(".modal-body").text().trim();
          var link = $("<a href=\"mailto:" + $("input[type=email]").val() + "?subject=Réponse Valkiry&body=" + modalBodyContent + "\" class=\"btn btn-success\">Transférer à " + $("input[type=email]").val() + "</a>");
          modal.find(".modal-footer").prepend(link);
          $(this).remove();
        });
      }

      $('[data-action=forwardAnswer]').click(eventForward);
  })();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% endblock %}
