{% extends '_layouts/main.twig' %}
{% import 'macros/pools.twig' as poolsMacro %}

{% block css %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap-extends-navbar.css">
{% endblock %}

{% block content %}

    {% if flash.error %}
        <div class="alert alert-danger fixed-top" role="alert">
            {{ flash.error | raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% include('company_manager/partials/navbar.twig') %}

    <div class="card">
            <div class="card-header bg-success text-white">Ajouter une période</div>
            <form action=" {{path_for('addPeriode')}} " method="post" class="card-body">
            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputStartDate" class="h5">Début de la période Question</label>
                                    <input type="date" class="form-control" id="inputStartDate" name="inputStartDate">
                                </div>

                                <div class="form-group">
                                    <label for="inputEndDate" class="h5">Fin de la période Question</label>
                                    <input type="date" class="form-control" id="inputEndDate" name="inputEndDate" onchange="copyFunction()">
                                </div>
                            </div>
                            <div class="col-md-6">
                           
                                <div class="form-group">
                                    <label for="inputStartDateR" class="h5">Début de la période Réponse</label>
                                    <input type="date" class="form-control" id="inputStartDateR" name="inputStartDateR" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="inputEndDateR" class="h5">Fin de de la période Réponse</label>
                                    <input type="date" class="form-control" id="inputEndDateR" name="inputEndDateR">
                                </div>
                            </div>
            </div>
            <div class="text-right">
                <button class="btn btn-success">Ajouter</button>
            </div>
            </form>
     </div>


    {{ poolsMacro.poolsList(pools) }}

<<<<<<< Updated upstream
=======
<!-- Modal suppression periode -->
    <div class="modal fade" id="modalPeriodeAbort">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer la période ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sur de vouloir supprimer la période ayant pour id: <span class="font-weight-bold" data-fill="target"></span> ?</p>
                    <p>Cette action est <span class="font-weight-bold">irréversible</span> et supprimera complétement la période de la base de donnée</p>
                </div>
                <div class="modal-footer">
                    <form action="{{ path_for('removePeriode') }}" method="post">
                        <input type="number" name="inputId" data-value="target" hidden="hidden">
                        <button type="submit" class="btn btn-danger">Supprimer la période</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal edition periode -->
    <div class="modal fade" id="modalPeriodeEdit">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier la période</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path_for('editPeriode') }}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" id="inputEditId" name="inputEditId" data-value="id" readonly>
                                <div class="form-group">
                                    <label for="inputEditStartDate" class="h5">Début de la période Question</label>
                                    <input type="date" class="form-control" id="inputEditStartDate" name="inputEditStartDate" data-value="startdate">
                                </div>

                                <div class="form-group">
                                    <label for="inputEditEndDate" class="h5">Fin de la période Question</label>
                                    <input type="date" class="form-control" id="inputEditEndDate" name="inputEditEndDate" data-value="enddate" onchange="copyFunction1()">
                                </div>
                            </div>
                            <div class="col-md-6">
                           
                                <div class="form-group">
                                    <label for="inputEditStartDateR" class="h5">Début de la période Réponse</label>
                                    <input type="date" class="form-control" id="inputEditStartDateR" name="inputEditStartDateR" data-value="startdateR" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="inputEditEndDateR" class="h5">Fin de de la période Réponse</label>
                                    <input type="date" class="form-control" id="inputEditEndDateR" name="inputEditEndDateR" data-value="enddateR">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Appliquer les changements</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

>>>>>>> Stashed changes
    
{% endblock %}


{% block js %}
    <script src="{{ base_url() }}/assets/js/app/company.pool.edit.js"></script>
    <script src="{{ base_url() }}/assets/js/app/company.pool.abort.js"></script>
    <script>
        function copyFunction() {
        var end = document.getElementById("inputEndDate");
        var beginR=document.getElementById("inputStartDateR");
        beginR.value = end.value;
        }
    </script> 

{% endblock %}